node_modules
.env
coverage
coverage.json
typechain
compiled-typechain
.vscode

#Hardhat files
cache
artifacts
__pycache__

# IDEs
.vscode/
.idea/

.openzeppelin/unknown-31337.json
.openzeppelin/mainnet_fork*
.env.deployer
deployments
deployer-key.json
yarn-error.log
.DS_Store
compiled-typechain/
cache/
out/
compiled-foundry-ffi/